# Ambiente virtual
.venv/
venv/
env/

# Datasets e Modelos pesados
AnyGraph/Datasets/*
AnyGraph/Models/*
AnyGraph/models/*
AnyGraph/imgs/*
*.mod
*.tar.gz
*.zip

# Python & Jupyter cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

results/
Global_pruining_results/